body {
    margin: 0;
  }
  

  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 25px;
  }
  
/*main................................................*/
main {
    height: 100vh; 

    background-color: #edf0f5;
}
  
.columns {
    padding: 170px 0;
    display: flex;
    justify-content: space-between;
 }
  
 /*column_left.........................................*/
.column_left {
    margin-top: 100px;
 }

img {
    width: 300px;
    margin: -30px;
}

.f_text {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;

    font-size: 24px;
    line-height: 28px;
    width: auto;
}
  
.column_right {
    display: flex;
    flex-direction: column;
}

/*form...............................................*/
.form {
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    padding: 15px;
}
  
.form input {
    display: block;
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    margin-top: 10px;
}

.button {
    display: block;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: #fff;
    margin-top: 10px;
    margin-left: 35px;
}

#but {
    display: block;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
    margin-top: 10px;
    margin-left: 75px;
}

.a_div_form {
    margin-top: 10px;
    margin-left: 148px;

    font-size: 16px;
    font-weight: 500;
}

.a_form {
    color: #1877f2;
    cursor: pointer;
    text-decoration: none;
}

.div_p_main {

}

.p {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;

    margin-top: 28px;
    text-align: center;

    direction: ltr;
    line-height: 1.34;
}
  
/*footer..................................................*/
footer {
    padding: 40px 0;
}

.p_footer {
    color: #8a8d91;
}
  


/*media..................................................*/
@media (max-width: 375px) {
    main {
        padding: 40px 0;
    }
  
    .columns {
        display: block;
    }
}
  